<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mmg.vetransformers">

    <application
        android:name=".commonutiles.Global_Access"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login.Activity_Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.Activity_Login"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".Activity_Opstions"/>
        <activity android:name=".registration.Activity_Registration"/>
        <activity android:name=".details.Activity_Details"/>
        <!--<activity android:name=".dummy.Activity_Registration1"/>
        <activity android:name=".dummy.Activity_Details1"/>-->
    </application>

</manifest>